* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: rgb(21, 88, 0);
}

.collapse {
  display: flex;
  justify-content: right;
}

.logo {
  float: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.logo span {
  color: green;
}

.nav-link {
  color: black !important;
}

main {
  height: 85vh;
  width: 100%;
  background-color: rgb(196, 196, 196);
  background-image: url(img/oxford-534815_1280.jpg);
  background-size: cover;
  background-position: center;
}

.call {
  color: black;
  width: 40%;
  background-color: rgb(21, 88, 0);
  border: 4px solid rgb(1, 83, 1);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  margin: 20px;
}
.call p {
  margin-bottom: 15px;
}
.call a {
  background-color: rgb(1, 83, 1);
  color: rgba(7, 2, 2, 0.572);
  text-decoration: none;
  padding: 10px 10px;
}
.call a:hover {
  background-color: rgba(240, 248, 255, 0.238);
}

.jumbotron {
  background-color: rgb(1, 83, 1);
}

h2 {
  background-color: rgb(1, 83, 1);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  padding: 30px;
}

h3 {
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  padding: 30px;
  background-color: rgb(21, 88, 0);
}

section {
  background-color: rgb(21, 88, 0);
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  width: 100%;
  background-color: rgb(0, 120, 12);
  border: 3px solid rgb(0, 113, 0);
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(0, 120, 12);
  margin: 15px;
  display: inline-block;
}

.card-img {
  height: 200px;
  background-image: url(img/herramientas-deportivas_53876-138077.avif);
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.card-img1 {
  height: 200px;
  background-image: url(img/library-869061_1280.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.card-img2 {
  height: 200px;
  background-image: url(img/compass-2946959_1280.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.card h4 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  padding: 5%;
}

form {
  background-color: rgb(1, 83, 1);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px;
}

.main1 {
  height: 85vh;
  width: 100%;
  background-color: rgb(196, 196, 196);
  background-image: url(img/herramientas-deportivas_53876-138077.avif);
  background-size: cover;
  background-position: center;
}

.main2 {
  height: 85vh;
  width: 100%;
  background-color: rgb(196, 196, 196);
  background-image: url(img/library-869061_1280.jpg);
  background-size: cover;
  background-position: center;
}

.main3 {
  height: 85vh;
  width: 100%;
  background-color: rgb(196, 196, 196);
  background-image: url(img/compass-2946959_1280.jpg);
  background-size: cover;
  background-position: center;
}

.redes a {
  font-size: 30px;
  color: rgb(8, 35, 0);
  text-decoration: none;
  margin: 0 10PX;
}

footer {
  background-color: rgb(1, 83, 1);
  color: rgb(8, 35, 0);
  text-align: center;
  font-size: 30px;
  padding: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer p {
  margin-bottom: 25px;
}

/*# sourceMappingURL=estilos.css.map */
