footer {
    background-color: $color-verde1;
    color: $color-negro ;
    text-align: center;
    font-size: 30px;
    padding: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    p {
        margin-bottom: 25px;
    }
}